/* -------------------------------------------------------------------
As a kid, I wasn't really able to channel my inner Bob Ross like my sister. I'm absolutely dreadful when it comes to drawing 
and sis got the creative genes from mom and dad. But as you get older, you find other ways to express your creativtiy. 
Fortuntately, I got into photograhy when I was 15 and picked it up as a hobby.*
 * ------------------------------------------------------------------- */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  white	;
    font-family: 'Raleway', sans-serif;

}

.homepage h1 span{
    font-weight: 800;
}

.homepage a{
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.nav-links li{
    list-style: none;.
    padding-top: 10px;
    position: relative;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 2.5px;
    background-color: black;

    position: absolute;
    bottom: -2px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
/* ----------------- 
* ## showcase content
 * -----------------*/

#showcase {
  background-image:url('../images/humber.JPG');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size:50px;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
}
  
#showcase p{
  font-size:20px;
  position: relative;
  bottom: 50px;
  text-transform: lowercase;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  border-color: #000000;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;

}

#showcase .button:hover{
  background: #ffffff;
  border-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#showcase .button:hover, 
#showcase .button:focus {
  background: #000000 !important;
  color: #ffffff;
}

#section-a{
  padding:20px;
  background:#black;
  color:#ffffff;
  text-align:center;
}
  
#section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
}
  
#section-c{
    display:flex;
}
  
#section-c div{
    padding:20px;}
  
#section-c .box-1, #section-c .box-3{
    background: #111111;
    color:#fff;
}
  
#section-c .box-2{
    background:#f9f9f9;
}

/* ----------------- 
 *about section
 * -----------------*/


 .about-container{
   display: flex;
   align-items: center;
   vertical-align: middle;
   justify-content: center;
}


.about-img{
   flex-basis: 40%;
   position: relative;
   width: 25%;
   height: 25%;
   left: 10%;
   top: 50px;
}

.text-head{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: #000000;
  letter-spacing: 2px;
  position: relative;
  margin-left: 40%;
  margin-top: -25%;
}

.text-head2{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 2px;
  position: relative;
  margin: 8%;
  margin-left: 40%;
  margin-top: 2.5%;
}


/* ----------------- 
 *portfolio
 * -----------------*/

.portfolio{
    text-align: center;
    width: 100%;
}

.portfolio img{
    margin: 1%;
    width: 25%;
}

.container{
    width: 80%
    padding: 20px;
}

.container h1{
    width: 100%
    color: #45f3ff
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(30px,1fr));
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    colour: #45b6fe;

}

/* ===================================================================
 * # content 
 *
 * ------------------------------------------------------------------- */
 .s-content {
  background: #ffffff;
  padding: 4.4rem 0 3.6rem 0;
}

.s-content__main {
  padding-right: 4.6rem;
}

.ss-single .s-content__main {
  padding-bottom: 8rem;
}

.page-content {
  padding-bottom: 2rem;
  margin-bottom: 3.6rem;
}

.page-content__title {
  margin-top: 0;
}

/* ------------------------------------------------------------------- 
* responsive:
* content
* ------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
  .s-content__main {
      padding-right: 3.6rem;
  }
}

@media screen and (max-width:960px) {
  .s-content__main {
      padding-right: 2.4rem;
  }
}

@media screen and (max-width:900px) {
  .s-content__main, .s-content__sidebar {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .s-content__main {
      padding-right: 16px;
  }
  .s-content__sidebar {
      margin-top: 6rem;
  }
}

@media screen and (max-width:600px) {
  .s-content__main {
      padding-right: 10px;
  }
  .page-content__title {
      text-align: center;
  }
}

@media screen and (max-width:400px) {
  .s-content__main {
      padding-right: 0;
  }
}



/* ===================================================================
* # sidebar 
*
* ------------------------------------------------------------------- */
.s-content__sidebar h3 {
  margin-top: 0;
}

.s-content__sidebar ul {
  list-style: none;
  margin-left: 0;
}

.s-content__sidebar hr, .s-content__sidebar .widget {
  margin-bottom: 2.4rem;
}

/* link List */

.s-content__sidebar .link-list {
  padding: 0;
  margin: 2rem 0 3.2rem 0;
}

.s-content__sidebar .link-list li {
  padding: .8rem 0;
  margin: 0;
  border-bottom: 1px solid #efefef;
}

.s-content__sidebar .link-list li:first-child {
  border-top: 1px solid #efefef;
}

.s-content__sidebar .link-list li a {
  color: #3e3e3e;
}

.s-content__sidebar .link-list li a:hover, .s-content__sidebar .link-list li a:focus {
  color: #9fcc7f;
}

/* tag cloud */

.s-content__sidebar .tagcloud {
  margin: 2rem 0 3.2rem -1.2rem;
  padding: 0;
}

.s-content__sidebar .tagcloud a {
  background-color: #efefef;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2.4rem;
  display: inline-block;
  margin: 0 0 1.2rem 1rem;
  padding: .8rem 1.6rem;
  position: relative;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  letter-spacing: .2rem;
  color: #000000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.s-content__sidebar .tagcloud a:hover, .s-content__sidebar .tagcloud a:focus {
  color: #ffffff;
  background: #9fcc7f;
}

/* search  */

.widget--search h3 {
  display: none;
}

.widget--search form {
  position: relative;
  margin: 0;
}

.widget--search .text-search {
  padding-right: 50px;
  border: none;
  width: 100%;
  min-width: 150px;
  border-radius: 4px;
}

.widget--search .submit-search {
  background-color: transparent !important;
  background-image: url(../images/icons/icon-search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  min-height: 2rem;
  padding: 0;
  margin: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  right: 2rem;
}

.s-content__sidebar .widget--search {
  margin-bottom: 4rem;
}

/* categories  */

.widget--categories ul {
  margin-top: 1.2rem;
}

.widget--categories ul li {
  padding-left: 0;
}



[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact100-map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 65px 55px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: 'Raleway', sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
    font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

#showcase-contact {
  background-image:url('../images/edit-0264.JPG');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:-5 -5px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size:50px;
}

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact100-map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 65px 55px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #111111;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin-bottom: 17px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #111111;
  line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 20px 0 23px;
}


textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100-1, 
.focus-input100-2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100-1::before,
.focus-input100-2::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #111111;
}

.focus-input100-1::before {
  top: -1px;
  left: 0;
}

.focus-input100-2::before {
  bottom: -1px;
  right: 0;
}

.focus-input100-1::after,
.focus-input100-2::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 0;
  background-color: #111111;
}

.focus-input100-1::after {
  top: 0;
  right: -1px;
}

.focus-input100-2::after {
  bottom: 0;
  left: -1px;
}

.input100:focus + .focus-input100-1::before {
  -webkit-animation: full-w 0.2s linear 0s;
  animation: full-w 0.2s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1::after {
  -webkit-animation: full-h 0.1s linear 0.2s;
  animation: full-h 0.1s linear 0.2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::before {
  -webkit-animation: full-w 0.2s linear 0.3s;
  animation: full-w 0.2s linear 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::after {
  -webkit-animation: full-h 0.1s linear 0.5s;
  animation: full-h 0.1s linear 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}


@keyframes full-w {
  to {
    width: calc(100% + 1px);
  }
}

@keyframes full-h {
  to {
    height: calc(100% + 1px);
  }
}


/*==================================================================
[ Restyle Checkbox ]*/


.contact100-form-checkbox {
  padding-top: 12px;
  padding-bottom: 28px;
  text-transform: none;
  letter-spacing: 1px;

}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #111111;
  line-height: 1.2;
  margin: 0;
}

.label-checkbox100::before {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-weight: 900;
  font-size: 15px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #e6e6e6;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #111111;
}


/*------------------------------------------------------------------
[ Contact (Send Email Button) ]*/


.contact100-form-btn {
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    font-size: px;
    cursor: pointer;
    letter-spacing: 1px;
}

.contact100-form-btn{
    font-size:15px;
    text-decoration:none;
    border-color: #000000;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

}

.contact100-form-btn:hover{
    background: #ffffff;
    border-color: #000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.contact100-form-btn:hover, 
.contact100-form-btn:focus {
    background: #000000 !important;
    color: #ffffff;

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 62px 15px 65px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: 'Raleway', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: 'Raleway', sans-serif;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



